{{UsingDirectives}}
using Microsoft.AspNetCore.Mvc;

namespace {{AbsoluteContainingNamespace}};

[Route("api/v1/{{ApiRoute}}")]
[ApiController]
public class {{SubjectName}}Controller
  : BaseApiController
{
  private readonly I{{SubjectName}}Mapper _mapper;

  private readonly I{{SubjectName}}Manager _manager;

  public {{SubjectName}}Controller(
    I{{SubjectName}}Manager manager,
    I{{SubjectName}}Mapper mapper)
  {
    _manager = manager;

    _mapper = mapper;
  }

  // GET api/v1/{{ApiRoute}}/5
  [HttpGet("{id:{{PrimaryKeyType}}}")]
  [ProducesResponseType(StatusCodes.Status200OK, Type = typeof({{SubjectName}}V1Model))]
  [ProducesResponseType(StatusCodes.Status404NotFound)]
  public async Task<ActionResult<{{SubjectName}}V1Model>> Get({{PrimaryKeyType}} id)
  {
    var entity = [AMO]_manager.Get(id)[AMC];

    if (entity == null) throw new Exception($"{{SubjectName}}:{id} not found.");

    return Ok(_mapper.ToModel(entity));
  }
  
  // GET api/v1/{{ApiRoute}}
  [HttpGet]
  [ProducesResponseType(StatusCodes.Status200OK, Type = typeof({{SubjectName}}V1Model))]
  public async Task<ActionResult<{{SubjectName}}V1Model>> GetAll()
  {
    var entity = [AMO]_manager.GetAll()[AMC];

    return Ok(_mapper.ToModel(entity));
  }
}
