  public override bool Equals(object? obj) => Equals(obj as {{SubjectName}}Entity);

  public bool Equals({{SubjectName}}Entity? other)
  {
    if (other is null) return false;

    if (ReferenceEquals(this, other)) return true;

    if (GetType() != other.GetType()) return false;

    return
{{PropertiesEquals}};
  }

  public override int GetHashCode() =>
{{PropertiesHashCode}};

  public static bool operator ==({{SubjectName}}Entity? lhs, {{SubjectName}}Entity? rhs)
  {
    if (lhs is not null) return lhs.Equals(rhs);

    return rhs is null;
  }

  public static bool operator !=({{SubjectName}}Entity? lhs, {{SubjectName}}Entity? rhs) => !(lhs == rhs);