{{Namespaces}}

namespace {{Namespace}}
{
	{{ClassAttributes}}
	public {{Partial}}class {{ClassName}}{{Interface}}
	{
		public {{ClassName}}()
		{
			
		}

	  public {{ClassName}}({{ModelName}} model)
		{
			{{ConstructorFromModel}}
		}

		public {{ClassName}}({{InterfaceName}} target)
		{
			{{ConstructorFromInterface}}
		}

{{Properties}}
	}
}
