  public int CompareTo(object obj)
  {
    var other = ({{ClassName}})obj;

    if ({{Property1}} == other.{{Property1}})
    {
      return 0;
    }

    if ({{Property1}} > other.{{Property1}})
    {
      return 1;
    }

    //if ({{Property1}} < other.{{Property1}})
    return -1;
  }