{{Namespaces}}

namespace {{Namespace}}.{{ContainingNamespace}}
{
  {{ClassAttributes}}
  public class {{ClassName}}{{Interfaces}}
  {
    {{Constructors}}
    
    {{Properties}}

    {{InterfaceMethods}}
  }
}
