using System.Collections.Generic;
using {{Namespace}}.Records;
{{Namespaces}}

namespace {{Namespace}}.{{ContainingNamespace}}
{
  public interface I{{ClassName}}Repository
  {
    {{Contracts}}
  }
}
