using System.Collections.Generic;
using {{RootContainingNamespace}}.Records;
{{UsingDirectives}}

namespace {{RootContainingNamespace}}.{{ContainingNamespace}}
{
  public interface I{{ClassName}}Repository
  {
    {{Contracts}}
  }
}
