{{UsingDirectives}}
using {{RootContainingNamespace}}.DataAccess;
using {{RootContainingNamespace}}.Entities;
using {{RootContainingNamespace}}.Mappers;
using {{RootContainingNamespace}}.Validation;

namespace {{RootContainingNamespace}}.{{ContainingNamespace}}
{
  public class {{ClassName}}Manager
    : BaseManager, I{{ClassName}}Manager
  {
    private readonly I{{ClassName}}Repository _repository;
    private readonly I{{ClassName}}Mapper _mapper;
    private readonly I{{ClassName}}Validation _validation;

    public {{ClassName}}Manager(
      I{{ClassName}}Repository repository,
      I{{ClassName}}Mapper mapper,
      I{{ClassName}}Validation validation)
    {
      _repository = repository;
      _mapper = mapper;
      _validation = validation;
    }

    public [AO]{{EntityName}}?[AC] Get({{PrimaryKeyType}} {{PrimaryKeyParameter}})
      => _mapper.ToEntity([A]_repository.Read({{PrimaryKeyParameter}}));

    public [AO]List<{{EntityName}}?>[AC] GetAll()
      =>_mapper.ToEntity([A]_repository.ReadAll());
  }
}
