{{UsingDirectives}}

namespace {{AbsoluteContainingNamespace}};

public class {{SubjectName}}Manager
  : BaseManager, I{{SubjectName}}Manager
{
  private readonly I{{SubjectName}}Repository _repository;
  private readonly I{{SubjectName}}Mapper _mapper;
  private readonly I{{SubjectName}}Validation _validation;

  public {{SubjectName}}Manager(
    I{{SubjectName}}Repository repository,
    I{{SubjectName}}Mapper mapper,
    I{{SubjectName}}Validation validation)
  {
    _repository = repository;
    _mapper = mapper;
    _validation = validation;
  }

  public [AO]{{EntityName}}?[AC] Get({{PrimaryKeyType}} {{PrimaryKeyParameter}})
    => _mapper.ToEntity([A]_repository.Read({{PrimaryKeyParameter}}));

  public [AO]List<{{EntityName}}?>[AC] GetAll()
    =>_mapper.ToEntity([A]_repository.ReadAll());
}
