{{Namespaces}}
using {{Namespace}}.DataAccess;
using {{Namespace}}.Entities;
using {{Namespace}}.Mappers;

namespace {{Namespace}}.{{ContainingNamespace}}
{
  public class {{ClassName}}Manager
    : BaseManager, I{{ClassName}}Manager
  {
    private readonly I{{ClassName}}Repository _repository;
    private readonly I{{ClassName}}Mapper _mapper;
    private readonly I{{ClassName}}Validation _validation;

    public {{ClassName}}Manager(
      I{{ClassName}}Repository repository,
      I{{ClassName}}Mapper mapper,
      I{{ClassName}}Validation validation)
    {
      _repository = repository;
      _mapper = mapper;
      _validation = validation;
    }

    public [AO]{{EntityName}}?[AC] Get({{PrimaryKeyType}} {{PrimaryKeyParameter}})
      => return _mapper.ToEntity([A]_repository.Read({{PrimaryKeyParameter}}));

    public [AO]List<{{EntityName}}?>[AC] GetAll()
      =>_mapper.ToEntity([A]_repository.ReadAll());

    public [AO]{{EntityName}}[AC] Add({{EntityName}}? entity)
    {
      entity.{{PrimaryKeyProperty}} = [A]_repository.Insert(_mapper.ToRecord(entity));
      
      return entity;
    }

    public [void] Edit({{EntityName}} entity)
      => [A]_repository.Update(_mapper.ToRecord(entity));

    public [void] Remove({{PrimaryKeyType}} {{PrimaryKeyParameter}})
      => [A]_repository.Delete({{PrimaryKeyParameter}});
  }
}
