public {{SubjectName}}V1Model? ToModel({{EntityName}}? entity)
  => entity == null ? null : new {{SubjectName}}V1Model(entity);

public List<{{SubjectName}}V1Model?> ToModel(List<{{EntityName}}>? entities)
  => ToList(entities, ToModel);