public {{SubjectName}}V1PatchModel? ToPatchModel({{EntityName}}? entity)
  => entity == null ? null : new {{SubjectName}}V1PatchModel(entity);

public {{EntityName}} ToEntity({{SubjectName}}V1PatchModel model)
  => new (model);