public {{EntityName}}? ToEntity({{SubjectName}}Record? record)
  => record == null ? null : new {{EntityName}}(record);

public List<{{EntityName}}?> ToEntity(List<{{SubjectName}}Record>? records)
  => ToListR(records, ToEntity);