{{UsingDirectives}}

namespace {{AbsoluteContainingNamespace}};

public class {{SubjectName}}V1CreatedModel
{
  public {{SubjectName}}V1CreatedModel()
  {
    
  }

  public {{SubjectName}}V1CreatedModel({{EntityName}} target)
  {
    {{ConstructorFromEntity}}
  }

{{Properties}}
}
