{{UsingDirectives}}
using {{RootContainingNamespace}}.Entities;

namespace {{RootContainingNamespace}}.{{ContainingNamespace}}
{
  public class {{ClassName}}{{Interface}}
  {
    {{Constructors}}

    {{Properties}}
  }
}
