{{Namespaces}}

namespace {{Namespace}}
{
	public class {{ClassName}}{{Interface}}
	{
		public {{ClassName}}()
		{
			
		}

		public {{ClassName}}({{EntityName}} entity)
		{
			{{ConstructorFromEntity}}
		}

		public {{ClassName}}({{InterfaceName}} target)
		{
			{{ConstructorFromInterface}}
		}

{{Properties}}
	}
}
