{{UsingDirectives}}

namespace {{AbsoluteContainingNamespace}};

public class {{SubjectName}}V1PatchModel{{Interface}}
{
  public {{SubjectName}}V1PatchModel()
  {
    
  }

  public {{SubjectName}}V1PatchModel({{EntityName}} target)
  {
    {{ConstructorFromEntity}}
  }

{{Properties}}
}
