using Dapper;
{{SqlNamespaces}}
using System.Collections.Generic;
using System.Data;
using System.Linq;
{{Namespaces}}

namespace {{Namespace}}.DataAccess
{
	public class {{ClassName}}Repository
		: BaseRepository, I{{ClassName}}Repository
	{
		public {{ClassName}}Repository(IAppConfiguration configuration)
			: base(configuration)
		{
		}

		public [AO]{{RecordName}}?[AC] Select({{PrimaryKeyType}} {{PrimaryKeyParameter}})
		{
			const string sql = """
				{{SourceQuery}}
				WHERE {{PrimaryKeyColumn}} = @{{PrimaryKeyColumn}}
				""";

			var connection = await GetConnection();
			
			var lst = [AWO]connection.Query[AS]<{{RecordName}}>(sql, GetPrimaryKeyParameter({{PrimaryKeyParameter}}))[AWC].ToList();
				
			return lst.SingleOrDefault();
		}

		public [AO]List<{{RecordName}}>[AC] SelectAll()
		{
			const string sql = """
				{{SourceQuery}}
				""";

			var connection = await GetConnection();
			
			return [AWO]connection.Query[AS]<{{RecordName}}>(sql)[AWC].ToList();
		}

		private DynamicParameters GetPrimaryKeyParameter({{PrimaryKeyType}} {{PrimaryKeyParameter}})
		{
			var p = new DynamicParameters();
			p.Add(name: "@{{PrimaryKeyColumn}}", dbType: DbType.{{PrimaryKeyDbType}}, value: {{PrimaryKeyParameter}});
			
			return p;
		}
	}
}
