using Dapper;
using {{RootContainingNamespace}}.Records;
using System.Collections.Generic;
using System.Data;
using System.Linq;
{{UsingDirectives}}

namespace {{RootContainingNamespace}}.{{ContainingNamespace}}
{
  public class {{ClassName}}Repository
    : BaseRepository, I{{ClassName}}Repository
  {
    public {{ClassName}}Repository(IAppConfiguration configuration)
      : base(configuration)
    {
    }

    public [AO]{{RecordName}}?[AC] Read({{PrimaryKeyType}} {{PrimaryKeyParameter}})
    {
    const string sql = """
{{SourceQuery}}
          WHERE {{PrimaryKeyColumn}} = @{{PrimaryKeyColumn}}
          """;

      [A]using var connection = await GetConnection();
      
      return [A]connection.QuerySingleOrDefault[AS]<{{RecordName}}>(sql, GetPrimaryKeyParameter({{PrimaryKeyParameter}}));
    }

    public [AO]List<{{RecordName}}>[AC] ReadAll()
    {
      const string sql = """
{{SourceQuery}}
          """;

      [A]using var connection = await GetConnection();
      
      return [AWO]connection.Query[AS]<{{RecordName}}>(sql)[AWC].AsList();
    }

    private static DynamicParameters GetPrimaryKeyParameter({{PrimaryKeyType}} {{PrimaryKeyParameter}})
    {
      var p = new DynamicParameters();
      p.Add(name: "@{{PrimaryKeyColumn}}", dbType: DbType.{{PrimaryKeyDbType}}, value: {{PrimaryKeyParameter}});
      
      return p;
    }
  }
}
