//https://www.nuget.org/packages/Newtonsoft.Json/
{{UsingDirectives}}
using Newtonsoft.Json;

namespace {{AbsoluteContainingNamespace}};

public partial class SerializationService
{
  public string ToJson(IEnumerable<{{EntityName}}> input) => JsonConvert.SerializeObject(input);

  public IEnumerable<{{EntityName}}> FromJson(string json) => JsonConvert.DeserializeObject<IEnumerable<{{EntityName}}>>(json);
}
