using Microsoft.AspNetCore.Mvc;

namespace {{AbsoluteContainingNamespace}};

/// <summary>
/// This abstract class exists to have base level operations that apply to all controllers.
/// </summary>
public abstract class BaseApiController
	: Controller
{

}
